body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #4a004b;
    color: white;
    padding: 20px;
    text-align: center;
}


h1 {
    color: rgb(255, 196, 0);;
}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover,
nav a.active {
    text-decoration: underline;
    color: rgb(255, 196, 0);
}

.hero {
    padding: 50px;
    text-align: center;
}

.content {
    padding: 20px 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 40px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 5px;
}

.gallery-grid .item {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    border: none;
    background: #4a004b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}


.contact-form button:hover {
    background-color: rgb(255, 196, 0);
    color: #4a004b;
}

.address {
    margin-top: 20px;
}
